name: Build

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 1 * * 1"

jobs:
  build:
    name: Build and Push Container
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ v1.24, v1.23, v1.22 ]
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
      -
        name: Docker info
        run: docker info
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      -
        name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.11.0
      -
        name: Check out code
        uses: actions/checkout@v1
      -
        name: "Test ddev ${{ matrix.version }} image"
        shell: 'script -q -e -c "bash {0}"'
        run: |
          sudo snap install yq
          ./build.sh -v ${{ matrix.version }} -l
          DDEV_VERSION=${{ matrix.version }} bash bats tests
      -
        name: "Build ddev ${{ matrix.version }} multi-arch image"
        shell: 'script -q -e -c "bash {0}"'
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker buildx create --use --platform=linux/arm64,linux/amd64
          ./build.sh -v ${{ matrix.version }} -x -p
